{% extends "base.html" %}
{% block titulo %}Productos de Temporada{% endblock %}
{% block contenido %}
<div class="my-5">
    <h1 class="text-center">Productos de {{ estacion }}</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                {% for producto in productos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'detalle_producto' producto.id %}">{{ producto.nombre }}</a>
                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-thumbnail" style="max-width: 50px;">
                        {% endif %}
                    </li>
                {% empty %}
                    <li class="list-group-item">No hay productos esta estación.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}